@model CarTrade.Models.Auto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Auto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.marka)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.marka)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.evjarat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.evjarat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gyartasiIdo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gyartasiIdo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.allapot)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.allapot)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tulajdonosokSzama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tulajdonosokSzama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telephelyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telephelyId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
