@model CarTrade.Models.Auto

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Auto</legend>

        @Html.HiddenFor(model => model.id)

        <h4>
            Márka:
       
            @Html.EditorFor(model => model.marka)
            @Html.ValidationMessageFor(model => model.marka)
        </h4>

        <h4>
            Típus:
       
            @Html.EditorFor(model => model.tipus)
            @Html.ValidationMessageFor(model => model.tipus)
        </h4>
        <hr/>
        <br/>
        <div class="editor-label">
            Évjárat:
        </div>
        <div class="editor-field">
        
            @Html.EditorFor(model => model.evjarat)
            @Html.ValidationMessageFor(model => model.evjarat)
        </div>

        <div class="editor-label">
            Gyártási idő:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gyartasiIdo)
            @Html.ValidationMessageFor(model => model.gyartasiIdo)
        </div>

        

        <div class="editor-label">
            Előző tulajdonosok száma:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tulajdonosokSzama)
            @Html.ValidationMessageFor(model => model.tulajdonosokSzama)
        </div>
        <div class="editor-label">
            Állapot:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.allapot)
            @Html.ValidationMessageFor(model => model.allapot)
        </div>
        <div class="editor-label">
            Telephely:
        </div>
        <div class="editor-field">
            @Html.DropDownList("telep")
        </div>

        <p>
            <input type="submit" value="OK" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Vissza", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
