@model IEnumerable<CarTrade.Models.Auto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.evjarat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gyartasiIdo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allapot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tulajdonosokSzama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephelyId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.evjarat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gyartasiIdo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allapot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tulajdonosokSzama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephelyId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
