@model IEnumerable<CarTrade.Models.Auto>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
   

@foreach (var item in Model) {
    <tr>
        <td>
            <h5>@Html.DisplayFor(modelItem => item.marka)</h5>
        </td>
        <td>
            <h5>@Html.DisplayFor(modelItem => item.tipus)</h5>      
        </td>
        <td>
            <h5>@Html.DisplayFor(modelItem => item.evjarat)</h5>
        </td>
        </tr>
    <tr>
        <td></td>
        <td>
            @{
                string gyido = item.gyartasiIdo.ToString("yyyy-MM-dd");
            }
            @gyido
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allapot)
        </td>
       </tr>
    <tr>
      
        <td colspan="3">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
    <tr>
        <td colspan="3"><hr /></td>
    </tr>
}

</table>
