@model CarTrade.Models.Telephely

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Telephely</legend>

        @Html.HiddenFor(model => model.id)

        
        <h4>
            Irányítószám:

            @Html.EditorFor(model => model.irSzam)
            @Html.ValidationMessageFor(model => model.irSzam)
        </h4>

        
        <h4>
            Cím:

            @Html.EditorFor(model => model.cim)
            @Html.ValidationMessageFor(model => model.cim)
        </h4>

        <div class="editor-label">
            Parkolóhelyek száma:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.parkolohely)
            @Html.ValidationMessageFor(model => model.parkolohely)
        </div>

        <p>
            <input type="submit" value="OK" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Vissza", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
